/* Global CSS variables */
:root {
  --primary: #43a047;
}

.main-nav-menu {
  background-color: #394046;
  background-image: url('/assets/jbc_top_image.jpg');
  background-position: center;
  background-size: cover;
}

article {
  margin-top: 0;
  margin-bottom: 0;
}

article h2 {
  margin-top: 0;
  margin-bottom: 0;
}

footer.container {
  padding-top: 0;
}

@media (min-width: 576px) {

  body>div>header,
  body>div>main,
  body>div>footer,
  section {
    --block-spacing-vertical: calc(var(--spacing) * 2.5);
  }
}

@media (min-width: 768px) {
  body>div>header,
  body>div>main,
  body>div>footer,
  section {
    --block-spacing-vertical: calc(var(--spacing) * 3);
  }
}

@media (min-width: 992px) {
  body>div>header,
  body>div>main,
  body>div>footer,
  section {
    --block-spacing-vertical: calc(var(--spacing) * 3.5);
  }
}

@media (min-width: 1200px) {
  body>div>header,
  body>div>main,
  body>div>footer,
  section {
    --block-spacing-vertical: calc(var(--spacing) * 4);
  }
}

body>div>header,
body>div>main,
body>div>footer {
  padding: var(--block-spacing-vertical) 0;
}